.page {
  display: flex;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 40%;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 50vh;
}

.modal__row {
  display: flex;
  flex-direction: row;
  height: 3.5vh;
}

.modal__row_name {
  width: 100%;
  justify-content: space-between;
}

.modal__row_nontext {
  width: 100%;
  justify-content: flex-end;
  margin: 0 0;
}

.modal__row_cta {
  justify-content: center;
}

.modal__row_notice {
  justify-content: center;
}

.modal__name {
  display: flex;
  width: 48%;
  flex-direction: row;
}

.modal__label {
  width: 35%;
  margin: auto;
  font-size: 1vw;
}

.modal__input {
  height: 100%;
  width: 70%;
  margin: auto;
  border-radius: 5px;
  border: 2px solid rgba(119, 136, 153, 0.459);
  padding: 0 1%;
}

.modal__checkbox {
  display: flex;
  justify-content: flex-start;
  width: 75%;
  margin: auto 0;
  font-size: smaller;
}

.modal__cta {
  border: 2px solid lightslategray;
  border-radius: 5px;
  height: 5vh;
  width: 20%;
}

.modal__cta:hover {
  background-color: lightslategray;
  color: white;
  cursor: pointer;
}

.modal__notice {
  width: 50%;
  text-align: center;
  font-size: 0.75vw;
}
